* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#theme {
  display: none;
}
#theme:checked ~ * {
  filter: invert(1);
}

.App {
  width: 100%;
  min-height: 100vh;
  background: white;
}

.main {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

img {
  object-fit: cover;
}

/* auth */
@import url("./auth.css");

/* loading*/
@import url("./loading.css");

/* header*/
@import url("./header.css");

/* avatar*/
@import url("./avatar.css");

/* profile*/
@import url("./profile.css");

/* home*/
@import url("./home.css");

/* status_modal*/
@import url("./status_modal.css");

/* comments*/
@import url("./comments.css");

/* post_thumb*/ 
@import url("./post_thumb.css");

/* message*/
@import url("./message.css");
 
/* icons*/
@import url("./icons.css");

/* call_modal*/
@import url("./call_modal.css");

/* --------- Responsive ------ */
@media (max-width: 766px) {
  .header .navbar .logo {
    display: none;
  }
  .header .menu {
    width: 100%;
    height: 40px;
  }
  .header .menu .navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header .search_form {
    width: 100%;
  }
  .header .logo {
    margin: auto;
  }
  .header .logo h1 {
    font-size: 1.5rem;
  }

  .message {
    height: calc(100vh - 100px);
  }
  .right_mess,
  .left_mess {
    display: none;
  }
  .status {
    padding: 20px 10px;
  }
}

.mode {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
